<Layouts.app flash={@flash}>

  <%= if @current_user do %>
    <.link navigate={~p"/users/#{@current_user.id}/edit"}>
      Edit your user profile
    </.link>
  <% else %>
    <.link navigate="/register">
      Register
    </.link>
  <% end %>

</Layouts.app>