<Layouts.flash_group flash={@flash} />

<h1>DHCW Values-Based 360 Feedback</h1>

<p>

  Digital Health and Care Wales (DHCW) Values-Based 360 Feedback Tool.

  <ul>
    <li>This is a simple web app pilot project that enables staff to try 360 feedback.</li>
    <li>This is research work in progress, not for official use nor production use.</li>
    <li>Prototype launch goal is event on November 10 2025 featuring AI and HR.</li>
  </ul>

</p>