<Layouts.flash_group flash={@flash} />

<h1 class="h1">Digital Health and Care Wales (DHCW) Values-Based 360 Feedback</h1>

<p>
  <%= if @current_user do %>
    <.link navigate={~p"/users/#{@current_user.id}/edit"}>
      Edit your user profile
    </.link>
  <% else %>
    <.link navigate="/register">
      Register
    </.link>
  <% end %>
</p>
